/* Estilos generales */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

header {
    background-image: url('images/header.png');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
    margin-bottom: 20px;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #e9ecef;
}

footer img {
    height: 30px;
    margin-right: 10px;
}